*{
    margin: 0; padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
}
.hi1{
    width: 80%; margin: 0 auto;
    height: 50px; 
    background-color: rgb(255, 255, 255);
    display: flex;  text-decoration: none; 
    list-style: none; 
    justify-content: space-between;
    align-items:center;
}
.border{
    width: 80%;
    height: 12vh;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: relative;
}
.posi{
    position: absolute; 
    left: 28%;
     top: 20%;
}
.icon p{
    display: flex; 
    gap: 30px; 
}
.posis{
    position: absolute; 
    top:21%;
    left: 95%;
}
.border input{
     padding: 10px; width: 250px; border-radius: 10px;
}
.black{
     width: 100%; height: 70px; background-color:rgb(16,16,17);   display: flex;
     justify-content: center; align-items: center; 

}
.black1{
     display: flex; justify-content: space-between; gap: 40px;
}
.black1 h3 a:hover{
    color: rgb(26,181,129);
}
.black a{
      text-decoration: none; color: white; justify-content: space-between;
}
.color{
    display: flex;
    flex-direction: column;
    background-color: rgb(234,234,235);
    height: 18vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.contact1{
    width: 80%;
    margin: 80px auto;
}
.contact12{
    border: solid rgb(234,234,235);
    padding: 55px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.contact11{
    display: flex;
    gap: 50px;
}
.contact2{
    width: 80%;
    background-color: rgb(234,234,235);
    height: 60vh;
    border-radius: 20px;
    margin: 15px auto;
    padding: 40px 50px 50px;

}
.contact21{
     width: 100%;
}
.contact212{
    margin: 35px auto;
    width: 100%;
    display: flex;
     gap: 40px;
     position: relative;
}
.contact212 input{
     padding:10px 15px;
     width: 550px;
     height: 50px;
     border-radius: 10px;
}
.contact2122{
     position: absolute;
     top: 11px;
     left: 525px;
     font-size: xx-large;
}
.contact2123{
     position: absolute;
     top: 11px;
     left: 1125px;
     font-size: xx-large;
}
.contact3 input{
     padding:20px 15px;
     width: 97%;
     height: 75px;
     border-radius: 10px;
     
}
.contact3{
     position: relative;
}
.contact31{
     position: absolute;
     left: 93%;
     font-size: xx-large;
     top: 35px;
}
.contact4{
     margin: 30px auto;
     display: flex;
     justify-content: left;
}
.contact4 button{
     background-color: rgb(11,156,139)  ;
     color: white;
     width: 200px;
     height: 40px;
     padding: 10px;
     border-radius: 10px;
     border: none;
 }
 .contact4 button:hover{
     background-color: black;
     color: white;
     transition: 1s;
 }
 .contact5{
     width: 86%;
     margin: 40px auto;

 }
 .contact5 iframe{
     width: 100%;
     height: 70vh;
     border-radius: 10px;
 }
 .footer1{
     display: flex;
     width: 80%;
     margin: 40px auto;
     gap: 50px;
 }
 .footer{
     width: 100%;
     height: 50vh;
     background-color: rgb(234,234,235);
 }
 .footer11{
     display: flex;
     flex-direction: column;
     gap: 25px;
     margin: 30px auto;
     width: 30%;
 }
 .footer22{
     display: flex;
     flex-direction: column;
     gap: 20px;
     margin: 30px auto;
     width: 20%;
 }
 .footer33{
     display: flex;
     flex-direction: column;
     gap: 25px;
     margin: 30px auto;
 }
 .footer44{
     display: flex;
     flex-direction: column;
     gap: 25px;
     margin: 30px auto;
     position: relative;
 }
 .footer a{
     text-decoration: none;
     color: black;
 }
 .footer input{
     width: 50%;
     border-radius: 20px;
     padding: 10px;
 }
 .footer44 button{
     height: 35px;
     border-radius: 10px; 
     background:rgb(11,157,138); border: none; color: white;
     width: 20%;
     position: absolute;
     left: 250px;
     top: 113px;
 }
 .footer44 button:hover{
     background-color: black;
     color: white;
}
@media(max-width:1200px){
    .border{
        height: 8vh;
    }
    .color{
        height: 10vh;
        gap: 10px;
    }
    .contact1{
        margin: 30px auto;
    }
    .contact12{
        padding: 20px;
    }
    .contact212 input{
        width: 356px;
    }
    .contact2122{
        left: 347px;
    }
    .contact2123{
        left: 766px;
    }
    .contact3 input{
        width: 96%;
    }
    .contact31{
        left: 94%;
    }
    .contact2{
        height: 100%;
    }
    .contact5 iframe{
        height: 30vh;
    }
    .footer22{
        width: 100%;
    }
    .footer33{
        width: 100%;
    }
    .footer44{
        width: 100%;
    }
    .footer11{
        width: 100%;
    }
    .footer{
        height: 100%;
    }
    .footer1{
        margin: 0 auto;
    }
    .footer44 button{
        left: 211px;
        top: 114px;
        width: 34%;
    }
}
@media(max-width:600px){
    .black{
        font-size: x-small;
    }
    .black1{
        gap: 4px;
    }
    .border h5{
        display: none;
    }
    .posi{
        display: none;
    }
    .icon{
        display: none;
    }
    .border input {
        width: 100px;
    }
    .hi1{
        display: none;
    }
    .color{
        gap: 5px;
    }
    .contact1 {
        margin: 15px auto;
    }
    .contact11 {
        gap: 30px;
        flex-direction: column;
    }
    .contact12 {
        padding: 6px;
       gap: 5px;
       width: 95%;
    }
    .contact212 input {
        padding: 5px;
        width: 137px;
    }
    .contact2122 {
        left: 131px;
        top: 20px;
        font-size: unset;
    }
    .contact2123 {
        left: 291px;
        top: 20px;
        font-size: unset;
    }
    .contact212{
        gap: 10px;
    }
    .contact2{
        padding: 20px;
    }
    .contact3 input{
        padding: 5px;
    }
    .contact31{
        font-size: unset;
    top: 34px;
    left: 92%;
    }
    .footer1{
        margin: 0px auto;
    gap: 0px;
    }
    .footer{
        height: 54vh;
    }
    .footer22{
        display: none;
    }
    .footer33{
        display: none;
    }
    .footer44{
        margin: 0 auto;
    }
    .footer11{
        margin: 14px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer1{
        display: flex;
        flex-direction: column;
        
    }
    .footer44 img{
        width: 100%;
    }
    .footer44 button{
        top: 114px;
        left: 200px;
        width: 35%;
    }

}